{% block button %}
{% spaceless %}
<{{ tag }} {{ block('attributes') }}>{{ block('icon') }}{{ label|trans|raw }}</{{ tag }}>
{% endspaceless %}
{% endblock %}

{% block icon %}
{% spaceless %}
{% if icon %}<span class="{{ icon }}"></span>{% endif %}
{% endspaceless %}
{% endblock icon %}

{% block attributes %}
{% spaceless %}
{%- for attrname, attrvalue in attr -%}
    {{- " " -}}
    {%- if attrname in ['placeholder', 'title'] -%}
        {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
    {%- elseif attrvalue is sameas(true) -%}
        {{- attrname }}="{{ attrname }}"
    {%- elseif attrvalue is not sameas(false) -%}
        {{- attrname }}="{{ attrvalue }}"
    {%- endif -%}
{%- endfor -%}
{% endspaceless %}
{% endblock attributes %}

{% block no_image %}
{% spaceless %}
{% if no_image_path|length > 0 %}
    <img src="{{ no_image_path }}" alt="{{ 'ekyna_core.image.new'|trans }}"{{ block('attributes') }} />
{% else %}
    <img src="http://placehold.it/145x96/f7f7f7/6e829b&text={{ 'ekyna_core.image.new'|trans|replace({' ': '+'}) }}" alt="{{ 'ekyna_core.image.new'|trans }}"{% if style|length > 0 %} style="{{ style }}"{% endif %} />
{% endif %}
{% endspaceless %}
{% endblock %}

{% block locale_switcher %}
{% spaceless %}
{% set currentLocale = request.attributes.get("_locale") %}
{% set routeName = request.attributes.get("_route") %}
{% set routeParams = request.attributes.get("_route_params") %}
<ul {{ block('attributes') }}>
    {% for locale in locales -%}
        <li{% if currentLocale == locale %} class="current"{% endif %}>
            <a href="{{ path(routeName, routeParams|merge({"_locale": locale})) }}">{{ locale|language|capitalize }}</a>
        </li>
    {%- endfor %}
</ul>
{% endspaceless %}
{% endblock locale_switcher %}