{% block button %}
{% spaceless %}
<{{ tag }} {{ block('attributes') }}>{{ block('icon') }}{{ label|trans|raw }}</{{ tag }}>
{% endspaceless %}
{% endblock %}

{% block icon %}
{% spaceless %}
{% if icon %}<span class="{{ icon }}"></span>{% endif %}
{% endspaceless %}
{% endblock icon %}

{% block attributes %}
{% spaceless %}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{% endspaceless %}
{% endblock attributes %}

{% block form_footer %}
<div class="form-footer">
    <div class="form-group row">
        <div class="col-sm-offset-{{ offset }} col-sm-{{ 12 - offset }}">
            {% for button in buttons %}
            {{ ui_button(button.label, button.options, button.attributes) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}