{# Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}

{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'class': 'collection-container' }) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        <div class="children">
        {{ block('form_rows') }}
        {{ form_rest(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_widget_simple %}
{% spaceless %}
    {% if sizing is defined and sizing is not empty %}
	    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' input-' ~ sizing)|trim }) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block file_widget %}
{% spaceless %}
    <div class="file-widget">
        <input type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
        {% set size_class = sizing is not sameas(false) ? ' input-group-' ~ sizing : '' %}
        <div class="input-group{{ size_class }}">
            <input type="text" class="form-control" value="{{ value }}" readonly="true" placeholder="{{ 'ekyna_core.field.choose_file'|trans }}" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
{% endspaceless %}
{% endblock file_widget %}

{% block ekyna_core_image_widget %}
{% spaceless %}
    <div class="row image-widget modal-gallery">
        <div class="col-md-3">
            {% if image_path is not null %}
            <a href="{{ image_path|imagine_filter('admin_modal') }}" class="thumbnail">
                <img src="{{ image_path|imagine_filter('admin_modal') }}" />
            </a>
            {% else %}
            <span class="thumbnail">
                <img src="http://placehold.it/145x96/f7f7f7/6e829b&text=New+image" />
            </span>
            {% endif %}
        </div>
        {% set attr = attr|merge({'class': 'col-md-9' }) %}
        {{ block('ekyna_core_image_compound') }}
        {#<div {{ block('ekyna_core_image_compound') }}>
	        {% if form.parent is empty %}
	            {{ block('global_form_errors') }}
	        {% endif %}
	        {{ form_row(form.file, {'style': 'horizontal'}) }}
            {% if form.name is defined %}
            {{ form_row(form.name, {'style': 'horizontal'}) }}
            {% endif %}
	        {% if form.alt is defined %}
	        {{ form_row(form.alt, {'style': 'horizontal'}) }}
	        {% endif %}
	        {{ form_rest(form) }}
	    </div>#}
    </div>
{% endspaceless %}
{% endblock ekyna_core_image_widget %}

{% block ekyna_core_image_compound %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>
    {% if form.parent is empty %}
        {{ block('global_form_errors') }}
    {% endif %}
    <div class="children">
    {{ form_row(form.file, {'style': 'horizontal'}) }}
    {% if form.name is defined %}
        {{ form_row(form.name, {'style': 'horizontal'}) }}
    {% endif %}
    {% if form.alt is defined %}
        {{ form_row(form.alt, {'style': 'horizontal'}) }}
    {% endif %}
    {{ form_rest(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock ekyna_core_image_compound %}

{% block ekyna_core_gallery_image_widget %}
{% spaceless %}
    <div class="row image-widget modal-gallery">
        <div class="col-md-3">
            {% if image_path is not null %}
            <a href="{{ image_path|imagine_filter('admin_modal') }}" class="thumbnail">
                <img src="{{ image_path|imagine_filter('admin_thumb') }}" />
            </a>
            {% else %}
            <span class="thumbnail">
                <img src="http://placehold.it/145x96/f7f7f7/6e829b&text=New+image" />
            </span>
            {% endif %}
        </div>
        {% set attr = attr|merge({'class': 'col-md-8' }) %}
        {{ block('ekyna_core_image_compound') }}
        <div class="col-md-1 child-controls">
            <button class="btn btn-default btn-sm" data-role="move-up" type="button">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-default btn-danger btn-sm" data-role="remove" type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-default btn-sm" data-role="move-down" type="button">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_core_gallery_image_widget %}

{% block ekyna_core_entity_search_widget %}
{% spaceless %}
{% set attr = attr|merge({'class': 'entity-search' }) %}
{{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock ekyna_core_entity_search_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == "single_text" %}
	    <div class="input-group date form_datetime" data-options='{{ pickerOptions|json_encode|raw }}'>
	        {{ block("form_widget_simple") }}
		    <span class="input-group-btn">
		        <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
		        <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
		</div>
    {% else %}
        <div {{ block("widget_container_attributes") }}>
            {{ date_pattern|replace({
                "{{ year }}":  form_widget(form.year),
                "{{ month }}": form_widget(form.month),
                "{{ day }}":   form_widget(form.day),
            })|raw }}

            {% set attr = {"size": 10}|merge(attr) %}
            {% set id = "datepicker_" ~ id %}
            {% set value = '' %}
            {% set full_name = "datepicker_" ~ full_name %}
            {{ block("hidden_widget") }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block checkbox_row %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}
    {% set col_size = col_size|default(bootstrap_get_col_size()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}
    {% if attr.col_size is defined and attr.col_size is not empty %}
        {% set col_size = attr.col_size %}
    {% endif %}
    {% if attr.style is defined and attr.style is not empty %}
        {% set style = attr.style %}
    {% endif %}

    {% set class = '' %}
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set class = 'col-' ~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
        <div class="form-group row{% if not form.vars.valid %} has-error{% endif %}">
            <div class="{{ class }}">
    {% elseif no_form_group is not defined or no_form_group == false %}
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {% endif %}
        <div class="checkbox">
            {% if label is not sameas(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{- block('checkbox_widget') -}}
                    {{- label|trans({}, translation_domain) -}}
                </label>
            {% else %}
                {{- block('checkbox_widget') -}}
            {% endif %}
            {{ form_errors(form) }}
        </div>
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        </div>
        </div>
    {% elseif no_form_group is not defined or no_form_group == false %}
        </div>
    {% endif %}

    {% if style == 'inline' %}&nbsp;{% endif %}
{% endspaceless %}
{% endblock checkbox_row %}

{% block radio_row %}
{% spaceless %}
    {% set class = '' %}

    {% set col_size = col_size|default(bootstrap_get_col_size()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}
    {% if attr.col_size is defined and attr.col_size is not empty %}
        {% set col_size = attr.col_size %}
    {% endif %}

    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set class = ' col-'~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
        <div class="form-group row{% if not form.vars.valid %} has-error{% endif %}">
            <div class="{{ class }}">
    {% elseif no_form_group is not defined or no_form_group == false %}
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {% endif %}

        <div class="radio">
            {% if label is not sameas(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{- block('radio_widget') -}}
                    {{- label|trans({}, translation_domain) -}}
                </label>
            {% else %}
                {{- block('radio_widget') -}}
            {% endif %}
            {{ form_errors(form) }}
        </div>
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        </div>
        </div>
    {% elseif no_form_group is not defined or no_form_group == false %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock radio_row %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set attr = attr|merge({ 'class': 'form-choices ' ~ (attr.class|default(''))|trim }) %}
    {{ parent() }}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if add_route is defined and add_route is not sameas(false) %}
    <div class="input-group entity-widget">
    {% endif %}
    {% if required and empty_value is none and not empty_value_in_choices %}{% set required = false %}{% endif %}
    {% if not required %}{% set attr = attr|merge({'data-allow-clear': 1}) %}{% endif %}
    {{ parent() }}
    {% if add_route is defined and add_route is not sameas(false) %}
    <span class="input-group-btn">
        <button class="btn btn-primary new-resource" type="button" data-path="{{ path(add_route, add_route_params) }}"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_collapsed %}