{# Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}

{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block form_actions_row %}
    <div class="form-footer">
        {{ block('button_row')  }}
    </div>
{% endblock %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty and label is not sameas(false) %}
            {% set label = name|humanize %}
        {% endif %}
        {% if type is defined and type == 'submit' %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('primary'))|trim }) %}
        {% else %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('default'))|trim }) %}
        {% endif %}
        {% if as_link is defined and as_link == true %}
            <a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain)|raw }}</a>
        {% else %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain)|raw }}</button>
        {% endif %}
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'class': 'collection-container' }) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock collection_widget %}

{% block ekyna_collection_widget %}
{% spaceless %}
    {% set controls_class = ' ekyna-collection-controls' %}
    {% if form.vars.button_col >= 3 %}
        {% set controls_class = controls_class ~ ' controls-inline' %}
    {% endif %}
    {% set attr = attr|merge({'class': 'ekyna-collection' }) %}
    {% if prototype is defined %}
        {% set prototype_vars = {} %}
        {% if style is defined %}
            {% set prototype_vars = prototype_vars|merge({'style': style}) %}
        {% endif %}
        {% set prototype_html =
            '<div class="col-xs-' ~ form.vars.sub_widget_col ~ ' ekyna-collection-child-form">' ~
                form_widget(prototype, prototype_vars) ~
            '</div>'
        %}
        {% set controls = '' %}
        {% set remove_confirm = '' %}
        {% if form.vars.remove_confirm is not sameas(null) %}
            {% set remove_confirm = ' data-confirm="' ~ (form.vars.remove_confirm|trans|escape) ~ '"' %}
        {% endif %}
        {% if form.vars.allow_delete or form.vars.allow_sort %}
            {# Move up button #}
            {% if form.vars.allow_sort %}{% set controls = controls ~
                '<button type="button" class="btn btn-default btn-sm" data-collection-role="move-up" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                    '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                '</button>'
            %}{% endif %}
            {# Remove button #}
            {% if form.vars.allow_delete %}{% set controls = controls ~
                '<button type="button" class="btn btn-danger btn-sm" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ remove_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>'
            %}{% endif %}
            {# Move down button #}
            {% if form.vars.allow_sort %}{% set controls = controls ~
                '<button type="button" class="btn btn-default btn-sm" data-collection-role="move-down" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                    '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                '</button>'
            %}{% endif %}
            {# Controls column #}
            {% set controls = '<div class="col-xs-' ~ form.vars.button_col ~ ' ' ~ controls_class ~ '">' ~ controls ~ '</div>' %}
        {% endif %}
        {% set prototype_html = '<div class="row">' ~ prototype_html ~ controls ~ '</div>' %}

        {% set attr = attr|merge({'data-prototype': prototype_html }) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <ul class="list-unstyled">
            {% for field in form %}
                <li>
                    <div class="row">
                        <div class="col-xs-{{ form.vars.sub_widget_col }} ekyna-collection-child-form">
                            {{ form_widget(field) }}
                            {{ form_errors(field) }}
                        </div>
                        {% if form.vars.allow_delete or form.vars.allow_sort %}
                        <div class="col-xs-{{ form.vars.button_col }}{{ controls_class }}">
                            {% if form.vars.allow_sort %}
                            <button type="button" class="btn btn-default btn-sm" data-collection-role="move-up"
                                    data-collection="{{ form.vars.id }}" data-field="{{ field.vars.id }}">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            {% endif %}
                            {% if form.vars.allow_delete %}
                            <button type="button" class="btn btn-danger btn-sm" data-collection-role="remove"
                                    data-collection="{{ form.vars.id }}" data-field="{{ field.vars.id }}"
                                    {{ remove_confirm|raw }}>
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            {% endif %}
                            {% if form.vars.allow_sort %}
                            <button type="button" class="btn btn-default btn-sm" data-collection-role="move-down"
                                    data-collection="{{ form.vars.id }}" data-field="{{ field.vars.id }}">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if form.vars.allow_add %}
            <button type="button" class="btn btn-primary btn-sm" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ekyna_collection_widget %}

{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ block('global_form_errors') }}
        {% endif %}
        <div class="children">
        {{ block('form_rows') }}
        {{ form_rest(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_widget_simple %}
{% spaceless %}
    {% if sizing is defined and sizing is not empty %}
	    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' input-' ~ sizing)|trim }) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block file_widget %}
{% spaceless %}
    <div class="file-picker">
        <input type="file"{% if form.parent.key is defined %} data-url="{{ oneup_uploader_endpoint('local_tmp') }}"{% endif %} {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
        {% set size_class = sizing is not sameas(false) ? ' input-group-' ~ sizing : '' %}
        <div class="input-group{{ size_class }}">
            <input type="text" class="form-control" value="{{ value }}" readonly="readonly"
                   {% if form.parent.vars.current_file_name is defined %}
                       data-current="{{ form.parent.vars.current_file_name }}"
                   {% endif %}
                   placeholder="{{ 'ekyna_core.field.choose_file'|trans }}" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-role="clear">
                    <span class="fa fa-remove"></span>
                </button>
                <button class="btn btn-default" type="button" data-role="pick">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
        {% if form.parent.key is defined %}
        <div class="progress" id="{{ form.vars.id ~ '_progress' }}" style="display:none;height:8px;margin:4px 0 0 0;">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0">
                <span class="sr-only">0%</span>
            </div>
        </div>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock file_widget %}

{% block ekyna_upload_widget %}
{% spaceless %}
    <div class="upload-widget">
        {{ form_row(form.file, {'style': 'horizontal'}) }}
        {% if form.key is defined %}
            {{ form_row(form.key) }}
        {% endif %}
        {% if form.rename is defined %}
            {{ form_row(form.rename, {'style': 'horizontal'}) }}
        {% endif %}
        {% if form.unlink is defined %}
            {{ form_row(form.unlink, {'style': 'horizontal'}) }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ekyna_upload_widget %}

{% block ekyna_entity_search_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'entity-search' }) %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock ekyna_entity_search_widget %}

{% block ekyna_color_picker_widget %}
    <div class="input-group form-color-picker" data-options='{{ pickerOptions|json_encode|raw }}'>
        {{ block("form_widget_simple") }}
        <span class="input-group-btn">
            <span class="btn btn-default">
                <span class="fa fa-tint"></span>
            </span>
        </span>
    </div>
{% endblock ekyna_color_picker_widget %}

{% block ekyna_key_value_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.key, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.value, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
{% endblock ekyna_key_value_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == "single_text" %}
    {% set size_class = sizing is not sameas(false) ? ' input-group-' ~ sizing : '' %}
    <div class="input-group{{ size_class }} date form-datetime-picker" data-options='{{ picker_options|json_encode|raw }}'>
        {{ block("form_widget_simple") }}
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="fa fa-calendar"></span>
            </button>
        </span>
    </div>
    {% else %}
    <div {{ block("widget_container_attributes") }}>
        {{ date_pattern|replace({
            "{{ year }}":  form_widget(form.year),
            "{{ month }}": form_widget(form.month),
            "{{ day }}":   form_widget(form.day),
        })|raw }}

        {% set attr = {"size": 10}|merge(attr) %}
        {% set id = "datepicker_" ~ id %}
        {% set value = '' %}
        {% set full_name = "datepicker_" ~ full_name %}
        {{ block("hidden_widget") }}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block checkbox_row %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}
    {% set col_size = col_size|default(bootstrap_get_col_size()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}
    {% if attr.col_size is defined and attr.col_size is not empty %}
        {% set col_size = attr.col_size %}
    {% endif %}
    {% if attr.style is defined and attr.style is not empty %}
        {% set style = attr.style %}
    {% endif %}

    {% set class = '' %}
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set class = 'col-' ~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
        <div class="form-group row{% if not form.vars.valid %} has-error{% endif %}">
            <div class="{{ class }}">
    {% elseif no_form_group is not defined or no_form_group == false %}
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {% endif %}
        <div class="checkbox">
            {% if label is not sameas(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{- block('checkbox_widget') -}}
                    {{- label|trans({}, translation_domain)|raw -}}
                </label>
            {% else %}
                {{- block('checkbox_widget') -}}
            {% endif %}
            {{ form_errors(form) }}
        </div>
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        </div>
        </div>
    {% elseif no_form_group is not defined or no_form_group == false %}
        </div>
    {% endif %}

    {% if style == 'inline' %}&nbsp;{% endif %}
{% endspaceless %}
{% endblock checkbox_row %}

{% block radio_row %}
{% spaceless %}
    {% set class = '' %}

    {% set col_size = col_size|default(bootstrap_get_col_size()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}
    {% if attr.col_size is defined and attr.col_size is not empty %}
        {% set col_size = attr.col_size %}
    {% endif %}

    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set class = ' col-'~ col_size ~ '-' ~ widget_col ~ ' col-' ~ col_size ~ '-offset-' ~ label_col %}
        <div class="form-group row{% if not form.vars.valid %} has-error{% endif %}">
            <div class="{{ class }}">
    {% elseif no_form_group is not defined or no_form_group == false %}
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {% endif %}

        <div class="radio">
            {% if label is not sameas(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{- block('radio_widget') -}}
                    {{- label|trans({}, translation_domain)|raw -}}
                </label>
            {% else %}
                {{- block('radio_widget') -}}
            {% endif %}
            {{ form_errors(form) }}
        </div>
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        </div>
        </div>
    {% elseif no_form_group is not defined or no_form_group == false %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock radio_row %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set attr = attr|merge({ 'class': 'form-choices ' ~ (attr.class|default(''))|trim }) %}
    {{ parent() }}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if add_route is defined and add_route is not sameas(false) %}
    <div class="input-group entity-widget">
    {% endif %}
    {% if required and empty_value is none and not empty_value_in_choices %}{% set required = false %}{% endif %}
    {% if not required %}{% set attr = attr|merge({'data-allow-clear': 1}) %}{% endif %}
    {{ parent() }}
    {% if add_route is defined and add_route is not sameas(false) %}
    <span class="input-group-btn">
        <button class="btn btn-default new-resource" type="button" data-path="{{ path(add_route, add_route_params) }}">
            <span class="fa fa-plus"></span>
        </button>
    </span>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block captcha_widget %}
{% spaceless %}
    <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" style="display:inline-block;margin-right:20px;" />
    {{ form_widget(form, {'attr': {'style': 'max-width:' ~ captcha_width ~ 'px;display:inline-block;'}}) }}
{% endspaceless %}
{% endblock captcha_widget %}