{% block a2lix_translations_widget %}
    <div class="translations-forms">
        {% set tabbed = form|length > 1 %}
        {{ form_errors(form) }}
        {% if tabbed %}
        <ul class="translations-locales nav nav-tabs">
            {% for translationForm in form %}
                {% set locale = translationForm.vars.name %}
                <li {% if app.request.locale == locale %}class="active"{% endif %}>
                    <a href="#{{ translationForm.vars.id }}" data-toggle="tab">
                        {{ locale|language|capitalize }}
                        {% if form.vars.default_locale == locale %}[Default]{% endif %}
                        {% if translationForm.vars.required %}*{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="translations-fields{% if tabbed %} tab-content{% endif %}">
            {% for translationForm in form %}
                {% set locale = translationForm.vars.name %}
                {% for translationField in translationForm %}
                {% endfor %}
                <div id="{{ translationForm.vars.id }}" {% if tabbed %}class="tab-pane{% if app.request.locale == locale %} active{% endif %}"{% endif %}>
                    {{ form_errors(translationForm) }}
                    {{ form_widget(translationForm) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
